body {
	margin: auto;
	max-width: 100ch;
	padding: 1ch 2ch;
    font-family: "Fira Mono";
	background-color: #333333;
	color: #cccccc;
}

a {
	color: #4ec271;
}

.tab1 {
	tab-size: 2;
}
.tab2 {
	tab-size: 4;
}
.tab4 {
	tab-size: 8;
}

hr.solid {
	border-top: 3px solid #ccc
}

/*
@media(prefers-color-scheme: dark) {
	body {
		background-color: #333333;
		color: #cccccc;
	}
	a {
		color: #4ec271;
	}
}
*/
